@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */

:root {
    /* Colors */
    --main: #726A6A;
    --secondary: #989090;
    --white: whitesmoke;
    /* Font-size */
    --font-large: 10rem;
    --font-medium: 5rem;
    --font-small: 2rem;
    /* Margin-size */
    --margin-large: 4rem;
    --margin-medium: 2rem;
    --margin-small: 1rem;
    /* Icon-size */
    --icon-large: 4rem;
    --icon-medium: 2rem;
    --icon-small: 1rem;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 0%;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
    background: whitesmoke;
}

.left-col, .right-col {
    position: absolute;
    width: 50%;
    height: 100vh;
}

.left-col {
    left: 0%;
    background: var(--main);
}

.right-col {
    left: 50%;
}

.upper {
    position: absolute;
    width: 100%;
    height: 50vh;
    background: var(--main);
    opacity: 0;
    animation: appear-text 0.8001s linear forwards;
    animation-delay: 3s;
}

.bottom {
    position: absolute;
    top: 50%;
    height: 50vh;
    width: 100%;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 4.2s;
    background-color: var(--main);
}

.bottom img {
    filter: blur(3px);
    position: absolute;
    top: 0%;
    height: 45vh;
    width: 40%;
    margin: 0 30vh;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 4.2s;
}

@media(max-width: 900px) {
    .left-col {
          width: 100%;
    }
    .right-col {
          top: 100%;
          left: 0%;
          width: 100%;
    }

}

.logo {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    color: var(--white);
    position: fixed;
    margin: 1.4em;
    margin-left: 2rem;
    font-weight: 600;
    z-index: 1;
}

.year {
    position: absolute;
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
    bottom: 8%;
    font-weight: bolder;
    transform: rotate(-90deg);
    left: 0%;
}

.buy {
    position: fixed;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
    position: absolute;
    right: 0%;
    top: -2.6%;
    margin: 2.4em;
}

.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 50%;
    background: url(/images/bernt.png) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 2.6s;
}

.data {
    position: absolute;
    top: 36%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#name {
    font-weight: bolder;
}

#artist {
    font-size: 10px;
}

.play, .next ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    opacity: 0.6;
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: 2em;
}

.about {
    position: absolute;
    top: 40%;
    left: 26%;
    transform: translate(-50%, -50%);
}

.about h1 {
    font-size: 30px;
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}

.about p {
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    cursor: pointer;
}

.about span:hover {
    text-decoration: underline;
}

.media {
    margin-top: 40px;
    cursor: pointer;
}

.media p {
    color: var(--white);
    margin-bottom: 0;
}

.media ul {
    position: absolute;
    list-style: none;
    left: -24%;
}

.media ul li {
    display: inline-block;
    color: var(--white);
    padding-right: 10px;
    margin-left: 40px;
}

.media ul li a ion-icon{
    color: var(--white);
    cursor: pointer;
    font-size: 30px;
    transition: all 800ms ease-in-out;
}

.media ul li a ion-icon:hover {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    transition: all 800ms ease-in-out;
}

.next {
    position: absolute;
    top: 24%;
    left: 16%;
}

.data2 {
    position: absolute;
    top: 12%;
    left: 8%;
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.data2 h1 {
    font-size: 30px;
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}

.data2 p {
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 4px;
    font-size: 12px;
    cursor: pointer;
}

.more {
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 15px;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
}

.block-cover::after {
   content: '';
   top: 0;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: #616161;
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 2s;
}

@keyframes rev-block {

   0% {
        left: 0;
        width: 0%;
   }
   50% {
        left: 0;
        width: 100%;
   }
   100% {
        left: 100%;
        width: 0%;
   }

}

@keyframes appear-text {

   0% {
        opacity: 0;
   }
   100% {
        opacity: 1;
   }

}

.upper-block::after {
   content: '';
   top: 0;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: #524a4a;
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 2.4s;
}

.block-bottom {
    position: absolute;
    top: 50%;
    height: 50vh;
    width: 100%;
}

.block-bottom::after {
   content: '';
   top: 0%;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: #363434;
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 3.6s;
}

/* Popout player */

#popout {
    position: relative;
    text-transform: uppercase;
    background: whitesmoke;
    color: var(--main);
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 2px;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 200%;
    height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer iframe {
    position: relative;
    outline: none;
}

.close {
    position: absolute;
    margin: 0px 0px -240px 500px;
    cursor: pointer;
    filter: invert(1);
    max-width: 22px;
    z-index: 200;
}

@media (max-width: 991px) {

    iframe {
        max-width: 80%;
        max-height: 89%;
    }

    .close {
        position: absolute;
        margin: 0px 0px -270px 430px;
        cursor: pointer;
        filter: invert(1);
        max-width: 22px;
        z-index: 200;
    }

    .bottom img {
        width: 80%;
        margin: 0 5vh;
    }

    .media ul li {
        display: inline-block;
        color: var(--white);
        padding-right: 10px;
        margin-left: 10px;
    }

    .about {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
}

/* Popout video player */

iframe {
    left: 90px;
    top: 200px;
    width: 100%;
    height: 111%;
    border-radius: 15px;
}
